.not_anon{
	background: #7DBf6b;
	/*background: -webkit-linear-gradient(left top,#b78c8c, #a3659c , #fea758, #e4cfbb); */
	/* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(bottom right,#b78c8c, #a3659c , #fea758, #e4cfbb);*/
    /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(bottom right,#b78c8c, #a3659c , #fea758, #e4cfbb); */
    /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to bottom right,#b78c8c, #a3659c , #fea758, #e4cfbb); */
    /* Standard syntax (must be last) */
}

.anon{
	background: black;
	/*background: -webkit-linear-gradient(left top,#ffffff, #4d4d4d); */
	/* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(bottom right,#ffffff, #4d4d4d);*/
    /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(bottom right,#ffffff, #4d4d4d); */
    /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to bottom right,#ffffff, #4d4d4d); */
    /* Standard syntax (must be last) */
}

.not_anon .profile_pic{
	margin:4px;
	margin-bottom: 30px;
	height: 48px;
	width: 48px;
	border-radius: 100px;
	background-size: 48px 48px;
	background-repeat: no-repeat;
	background-position:absolute;
	background-color: #FFFFFF;
}

.anon .profile_pic{
	background-color: #FFFFFF;
	background-image: url('/img/black_anon.png');
	margin:4px;
	margin-bottom: 30px;
	height: 48px;
	width: 48px;
	border-radius: 100px;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position:absolute;
	background-position: -1px -3px;
}

.profile_icon{
	padding:0px;
	height: 56px;
	width: 56px;
	border-radius: 100px;
}

.message_profile_icon{
	padding:0px;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	margin-top: 10px;
}

.not_anon .message_profile_pic{
	margin:4px;
	margin-bottom: 30px;
	height: 32px;
	width: 32px;
	border-radius: 100px;
	background-size: 48px 48px;
	background-repeat: no-repeat;
	background-position:absolute;
	background-color: #FFFFFF;
}

.anon .message_profile_pic{
	background-color: #FFFFFF;
	background-image: url('/img/black_anon.png');
	margin:4px;
	margin-bottom: 30px;
	height: 32px;
	width: 32px;
	border-radius: 100px;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position:absolute;
	background-position: 0px 0px;
}

.top_icon{
	margin-left: 15px;
}

.messages{
	padding-top: 5px;
	padding-left: 5px;
}

.history_compare{
	/*padding-top: 20px;*/
/*	border-style: solid;
	border-width: 2px;*/
	background-color: white;
	color:white;
	height: 220px;
	width: 300px;
	line-height: 140%;
	padding-top: 20px;
/*	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;*/
}

.history_compare:after {
	content: '';
        position: absolute;
        width: 50%;
        left: 25%;
        bottom: -20px;
        border-bottom: 1px solid #666;
}

.line{
	width: 260px;
	height: 1px;
	background-color: black;
	margin-left: 30px;
}

.carousel-indicators{
   padding-bottom: 0px;
   margin-bottom: 0px;
}

.carousel-indicators li {
  border-color: black;
}
.carousel-indicators .active {
  background-color: black;
}

.carousel-control{
	color:black;
}

.carousel-control:focus{
	color:black;
}

.carousel-control:hover{
	color:black;
}

#room_background{
  border-radius: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 7px;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 12pt;
  width: 320px;
  line-height: 200%;
  font-size: 16pt;
  /*overflow: scroll;*/
}
.col-xs-6, .col-md-6{
	line-height: 120%;
}

.header {
/*    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;*/
    background-color: #FFFFFF;
    top:0;
    position:fixed;
    z-index:100;
    width: 320px;
}

.chosen_person{
	border-radius: 100px;
	width: 40px;
	height:40px;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	line-height: 170%;
	display: inline-block;
}

.history_question{
	padding: 10px;
	font-size: 20pt;
	color:#f27507;
}

.history_option{
	color:#1fbfa2;
}

.name{
	padding-top: 15px;
	font-size: 14pt;
	padding-left: 15px;
	margin-left: 60px;
}

.footer {
    bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:35px;
    width: 320px;
    background-color: #FFFFFF;
}
.time_stamp{
	padding:0px;
	margin:0px;
	line-height: 50%;
	color: #ababab;
	font-size: 9pt;
}

.message_box{
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 2px;
	position: relative;
	width: 212px;
	top:11px;
	height:100%;
	min-height: 100% !important;
	display:block;
}

.self_message_box{
	padding-left: 0px;
	padding-right: 5px;
	width: 212px;
	text-align: right;
	position: relative;
	top:15px;
	height:100%;
	min-height: 100% !important;
	display:block;
}

.message{
	line-height: 150%;
	height:100%;
	overflow: auto;
	min-height: 100% !important;
	display:block;
	word-wrap: break-word;
}



.row{
	margin: 0px;
	padding: 0px;
}

.container{
	padding:0px;
}


.messages{
	font-size: 12pt;
}

.goBack{
	padding:0px;
	background-image: url('/img/greenarrow.png');
	background-size: 40px 30px;
	background-repeat: no-repeat;
	background-position:absolute;
	background-position: 10px 15px;
	width: 80px;
	height: 50px;
}



