    @font-face {
      font-family: 'HNLS'; /*a name to be used later*/
      src: url('http://localhost:7009/fonts/HelveticaNeueLTStd-Lt.otf'); /*URL to font*/
    }
    .btn-block{
      margin-bottom: 10px;
    }



    .energy_font{
      color: #4CC552;
      font-size: 12pt;
    }
    .level_font{
      color: #4169e1;
      font-size: 12pt;
    }
    .coins_font{
      color: #FFD700;
      font-size: 20pt;
      display : inline-block;
    }
    .message_font{  
      color: red;
    }
    .inline_form{
      display : inline-block;
    }
    .buffer{
      padding-bottom:20pt;
    }
    .collapsesub{
      font-size: 10pt;
      color: gray;
    }
    .collapsetitle{
      font-size: 12pt;

    }

    .progress{
      margin-top: 4px;
      max-height: 10px;
    }
/*
    body {
      background-color: #5d5d5b;
    }*/

    #player_name, #medal_display{
      background: #FFFFFF;
      border-radius: 100px;
      margin-top: 7px;
      margin-left: 7px;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 0px;
      padding-right: 0px;
      font-size: 12pt;
      height: 32px;
      /*font-family: 'HNLS';*/
    }

    #coin_display{
      background-image: url('/img/coinsnew.png');
      background-size: 136px 50px;
      background-repeat: no-repeat;
      background-position:center;
      border-radius: 0px;
      margin-top: 7px;
      margin-left: 34px;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 0px;
      padding-right: 21px;
      font-size: 18pt;
      height: 50px;
      width: 140px;
      text-align: right;
      line-height: 182%;
    }

    #medal_display{
      background: #f54360;
      background-image: url('/img/trophie.png');
      background-size: 40px 40px;
      background-repeat: no-repeat;
      background-position:absolute;
      background-position: 5px 5px;
      border-radius: 100px;
      margin-top: 7px;
      margin-left: 35px;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 0px;
      padding-right: 21px;
      font-size: 18pt;
      height: 50px;
      width: 50px;
      text-align: right;
      line-height: 182%;
/*      background: #f54360;
      border-radius: 100px;
      margin-top: 7px;
      margin-left: 7px;
      padding-bottom: 3px;
      padding-left: 0px;
      padding-right: 0px;
      font-size: 10pt;
      height: 50px;
      width: 50px;
      margin-right: 55px;
      line-height: 182%;*/
    }
    #home_display{
      background: #78c26b;
      background-image: url('/img/home.png');
      background-size: 35px 32px;
      background-repeat: no-repeat;
      background-position:absolute;
      background-position: 7px 7px;
      border-radius: 100px;
      margin-top: 7px;
      margin-left: 35px;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 0px;
      padding-right: 21px;
      font-size: 18pt;
      height: 50px;
      width: 50px;
      text-align: right;
      line-height: 182%;
    }

    #level_display{
      background: #FFFFFF;
      border-radius: 100px;
      border-width: 5px;
      border-color: #ffa23f;
      border-style: solid;
      margin-top: 7px;
      margin-left: 7px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      font-size: 7pt;
      line-height: 158%;
      height: 50px;
      width: 50px;
    }
    #name_display{
      background: #ef5739;
      /*background-image:url('/img/guess.png');*/
      /*background-size: 123px 100px; */
      /*border-radius: 5px;*/
      /*margin-top: 7px;*/
      /*margin-left: 20px;*/
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 20px;
      padding-right: 0px;
      width: 245px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 35px;
      margin-bottom: 10px;
      color:#FFFFFF;
      text-align: center;
      height:66px;
      width: 302px;
    }

    #name_pentagon_background{
      /*background: #ffe5f8;*/
      /*border-top-right-radius: 5px;*/
      border-style: solid;
      border-width: 3px;
      border-color: #ef5739;
      height: 100px;
      margin-top: 7px;
      margin-left: 7px;
      /*padding-top: 5px;*/
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      font-size: 20pt;
      min-width: 306px;
      max-width: 653px;
      min-height: 270px;
      /*padding-left: 10px;*/
      /*padding-right: 10px;*/
    }
    #green_background{
      /*background-image:url('/img/play.png');*/
      /*background-size: 123px 100px; */
      background: #6bc46c;
      color: #FFFFFF;
      border-radius: 100px;
      height: 100px;
      margin-top: 7px;
      margin-left: 48px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      width: 100px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 19pt;
      text-align: center;
      line-height: 130%;
    }
    #blue_background{
      background: #3db4e0;
      color: #FFFFFF;
      /*background-image:url('/img/guess.png');*/
      /*background-size: 123px 100px; */
      border-radius: 100px;
      height: 100px;
      margin-top: 7px;
      margin-left: 25px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      width: 100px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 19pt;
      text-align: center;
      line-height: 130%;
    }
    #yellow_background{
      background: #fcf6b9;
      /*background-image:url('/img/guess.png');*/
      /*background-size: 123px 100px; */
      border-radius: 5px;
      height: 100px;
      margin-top: 7px;
      margin-left: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      min-width: 306px;
      max-width: 653px;
      min-height: 110px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 20px;
      margin-bottom: 10px;
    }

    .green_button{
      background: #1ab5a3;
      border-radius: 100px;
      color:#FFFFFF;
      font-size: 20px;
    }
    .orange_button{
      background: #ffa23f;
      border-radius: 100px;
      color:#FFFFFF;
      font-size: 20px;
    }

    .green_button:hover, .orange_button:hover, .grass_green_button:hover, .pink_button:hover, .blue_button:hover, .blue_ppl_button:hover{
      color:#FFFFFF;
    }

    .grass_green_button{
      background: #78c26b;
      border-radius: 100px;
      color:#FFFFFF;
      font-size: 20px;
      height:70px;
      line-height: 100%;
      white-space: normal;
    }

    .pink_button{
      background: #ff5160;
      border-radius: 100px;
      color:#FFFFFF;
      font-size: 20px;
    }

    .blue_button{
      background: #59b4e1;
      border-radius: 100px;
      color:#FFFFFF;
      font-size: 20px;
      height:70px;
      line-height: 100%;
      white-space: normal;
    }
    .blue_ppl_button{
      background: #59b4e1;
      border-radius: 100px;
      color:#FFFFFF;
      font-size: 20px;
      height:70px;
      line-height: 100%;
    }

    
