<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=TITLE%></title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">
    <link rel="stylesheet" type="text/css" href="css/categ.css">
    <link rel="stylesheet" type="text/css" href="css/chat_select.css">
    <script src="js/basic_display.js"></script>

    <style type="text/css">
    #timesleftbig{
      padding-left: 5pt;
      color: #737373;
      font-size: 12pt;
    }
    #shufflebtn, #timesleft{
      display: inline-block;
    }
    #timesleft{
      font-size: 15pt;
    }
    #coinicon{
      display: inline-block;
    }


    #pbtn, #rbtn, #sbtn, #fbtn{
      min-height: 60px;
      font-size: 15pt;
      background-color: #474747;
      color: #FFFFFF;
      text-align: left;
    }
    </style>


    <script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52817227-4', 'auto');
  ga('send', 'pageview');
    </script>

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

  <!-- <h1>Records</h1> -->

   <div class="row">
    <div id="level_home_display" class="col-xs-4 col-sm-3" onclick="levelClicked()"><center>等級<br><font size="5pt"><%=@@level[session[:tester]]%></font> </center></div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div id="home_display" class="col-xs-3 col-sm-4" onclick="backtohome()"><center>
      <!-- <img src="/img/home.png" alt="Smiley face" width="35" height="35"> -->
    </center>
    </div>
    <div id="chat_display" class="col-xs-2 col-sm-4">
      <div id="chat_dot_display">2
      </div>
    </div>
    <div id="coin_home_display" class="col-xs-3 col-sm-2" onclick="coinClicked()"><%= @@coins[session[:tester]] %></div>
  </div>

  <form id="homeform" class="form-horizontal" role="form" action="home" method="post">
      </form>
       <script type="text/JavaScript">
        //<![CDATA[
        new level_progress("level_display","<%=@@progress[session[:tester]]%>");
        function backtohome(){
          var homeform = document.forms["homeform"];
          homeform.submit();
        }
           //]]>
        </script>

  <!-- <h1>Records</h1> -->

 <div class="row">
    <div id="chat_background" class="col-xs-11 col-md-3">

      <div class="message_box not_anon">
        <div class="col-xs-3 col-md-3 profile_container">
          <div class="profile_pic" style="background-image: 
         url('/img/wen.jpg')">
              <div class="blue_dot">
              </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-8 content_box">
          <div class="content_name">
            Wen Shaw
          </div>
          <div class="content_msg">
            你為什麼覺得Wen是色狼？
          </div>  
        </div>

        <div class="col-xs-2 col-md-2 time_stamp self_anon">
          <br>
          <br>
          <br>
          <font size="2pt" color="#9d9d9d">兩分鐘前</font>
        </div>
      </div>


      <div class="message_box anon">
        <div class="col-xs-3 col-md-3 profile_container">
          <div class="profile_pic">
              <div class="blue_dot">
              </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-8 content_box">
          <div class="content_name">
            匿名(你比了ChiuHo跟Wen)
          </div>
          <div class="content_msg">
            你為什麼覺得Wen是色狼？
          </div>  
        </div>

        <div class="col-xs-2 col-md-2 time_stamp">
          <br>
          <br>
          <br>
          <font size="2pt" color="#9d9d9d">兩分鐘前</font>
        </div>
      </div>


    </div>
</div>




      <!-- FOOTER -->

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
  </body>
</html>
