<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">

  
    <title><%=TITLE%></title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
 
    
    <script type="text/JavaScript">
    //<![CDATA[
    //global variables
    function sendCode(){
      code = $("#code").val();
      $.post("<%=URL + '/sendCode'%>", {code: code}, function(data){
        console.log("return from sendCode: " + data);
        if (data == "false") {
          window.location.href = "/invite_failure";
        } else {
          console.log("code verified.");
          alertify.alert("成功登入了！ 你接受了" + data + "的邀請！");
          setTimeout(function(){
            window.location.href = "/wtchoose";
          },3000);
        }
      });
    }

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52817227-4', 'auto');
  ga('send', 'pageview');
    //]]>
    </script>
    <link rel="stylesheet" type="text/css" href="css/homepage.css">
    <style>
      

    </style>

  </head>
<!-- NAVBAR
================================================== -->
  <body>
  <br><br><br>
  <div class="container marketing">
    <center>
    <div class="row">
      <div id="red_background" class="col-xs-18 col-md-12">      
        <b><font size="12pt" color="#1c5979">邀請</font></b>
        <br><br>
      </div>
    </div>
    <div class="row">
      <b><font color=#585858 size="5pt">填入朋友給你的邀請碼</font></b>
      </br><br>
      <input type="text" style="width:100px;" id="code" name="code" placeholder="邀請碼">
      <br><br>
      <button class="btn btn-default green_button" onclick="sendCode()">填好了！</button>
    </div>
    </center>
  </div>

      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    

    <!-- ideally at the bottom of the page -->
    <!-- also works in the <head> -->
    <script src="js/alertify.min.js"></script>

    <!-- include the core styles -->
    <link rel="stylesheet" href="css/alertify.core.css" />
    <link rel="stylesheet" href="css/alertify.default.css" />
  </body>
</html>
