<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">

  
    <title><%=TITLE%></title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
 

    <script type="text/JavaScript">
    //<![CDATA[
    //global variables


    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52817227-4', 'auto');
  ga('send', 'pageview');
    //]]>
    </script>
    <link rel="stylesheet" type="text/css" href="css/homepage.css">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
  <br><br><br>
  <div class="container marketing">
    <center>
    <div class="row">
      <div id="red_background" class="col-xs-18 col-md-12">      
        <b><font size="12pt" color="#1c5979">登入失敗！</font></b>
        <br><br>
      </div>
    </div>
    <div class="row">
      <b><font color=#585858 size="5pt">喔歐，你的邀請碼無效，要不要再確認一下呢？</font></b>
      <br><br>
      <form role="form" action="enter_code" method="get">   
        <button class="btn btn-default green_button" type="submit">再試一次！</button>
      </form>
    </div><br><br>
    <div class="row">
      <font color=#585858 size="4pt">以下是你的朋友有加入遊戲的：</font><br>
      
      <%@friends_who_play.each do |frd|%>
        <div class="col-xs-4 col-md-3">      
          <img src="//graph.facebook.com/<%=frd["id"]%>/picture?type=square" width="60" height="60" /><br>
          <font size="2"><%=frd["name"]%></font>
        </div>
      <%end%>
    </div>
    </center>
  </div>
  



      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
  </body>
</html>
