<!DOCTYPE html>
<html>
<head>
  <title><%=TITLE%></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta charset="UTF-8">
  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <style>
  .gradient-color {
    background: #25211C;
   
  }
  #description{
    line-height: 130%;
  }
  #s-description{
    color: #FFFFFF;
    line-height: 130%;
    font-size: 12pt;
  }
  </style>
  <script>
  var appId = '610309559054620';
  (function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52817227-4', 'auto');
  ga('send', 'pageview');



  </script>
</head>
<body>
  <div id="fb-root"></div>


<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->
<div class="jumbotron gradient-color">
  <font color="white">
  <center>
  <img src="/img/logo.png" width="200">
  <br><br>
  <div id="description"><b><center>快來測試你了不了解</br>你的朋友們！</font></center></b></div>
  <br>
  <!--<div id="fb-login-btn" class="fb-login-button" data-max-rows="10" data-size="xlarge" data-show-faces="false" scope="public_profile,email" onlogin="checkLoginState();"></div>-->
  <!-- <button onclick="next();">next</button>
  <button onclick="FB.logout();">log out</button>-->
  <div id="status"></div>
  <img id="fb-login-btn" src="/img/facebookLogin.png" onclick="tryLogin();">
  <br>
  <div id="s-description"><b><center>別擔心，我們絕不會在你的facebook上po文或送出邀請！</font></center></b></div>
  
  </center>  
  </font>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    

  <script>
    function next(){
      window.location.href = "/wtchoose";
    }
    function tryLogin(){
      redirectPage = "<%=URL%>";
      var permissionUrl = "https://www.facebook.com/dialog/oauth?client_id=" + appId + "&response_type=code&redirect_uri=" + redirectPage;
      console.log("url: " + permissionUrl);
      window.location = permissionUrl;
    }
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);
      // The response object is returned with a status field that lets the
      // app know the current login status of the person.
      // Full docs on the response object can be found in the documentation
      // for FB.getLoginStatus().
      if (response.status === 'connected') {
        // Logged into your app and Facebook.
        console.log(response.authResponse.accessToken);
        testAPI(response.authResponse.accessToken);
      } else if (response.status === 'not_authorized') {
        // The person is logged into Facebook, but not your app.
        
      } else {
        document.getElementById('status').innerHTML = '<br><br><br>';
        // The person is not logged into Facebook, so we're not sure if
        // they are logged into this app or not.
        
      }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }

    window.fbAsyncInit = function() {
      FB.init({
        appId      : appId,
        cookie     : true,  // enable cookies to allow the server to access 
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v1.0' // use version 2.0
      });
    
    // Now that we've initialized the JavaScript SDK, we call 
    // FB.getLoginStatus().  This function gets the state of the
    // person visiting this page and can return one of three states to
    // the callback you provide.  They can be:
    //
    // 1. Logged into your app ('connected')
    // 2. Logged into Facebook, but not your app ('not_authorized')
    // 3. Not logged into Facebook and can't tell if they are logged into
    //    your app or not.
    //ome
    // These three cases are handled in the callback function.
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });

    };


    // Load the SDK asynchronously
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/zh_TW/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI(token) {
      console.log('Welcome!  Fetching your information.... ');
      
      FB.api('/me?locale=zh_TW', function(response) {
        console.log('Successful Facebook login for: ' + response.name);
        $("#fb-login-btn").remove();
        document.getElementById('status').innerHTML =
          '歡迎, ' + response.name + '!' + '<br>' + '請稍等...';
        document.getElementById('status').style.color = '#FFFFFF';

        $.post("<%=URL + '/hasLoggedIn'%>",
                {name: response.name, token: token}, 
                function(data){
                  console.log("data: " + data);
                  if (data == "true") {
                    console.log("logged in before");
                    window.location.href = "/home";
                  } else {
                    window.location.href = "/wtchoose";
                  }
        });
      });
    }

</script>
</body>
</html>