<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="js/basic_display.js"></script>
<div class="row">
    <div id="level_home_display" class="col-xs-4 col-sm-3" onclick="levelClicked()"><center>等級<br><font size="5pt"><%=@@level[session[:tester]]%></font> </center></div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div id="home_display" class="col-xs-3 col-sm-4" onclick="backtohome()"><center>
      <!-- <img src="/img/home.png" alt="Smiley face" width="35" height="35"> -->
    </center>
    </div>
    <div id="chat_display" class="col-xs-2 col-sm-4" onclick="gotochat()">
    <div id="chat_dot_display" style="opacity:0;"></div>
    </div>
    <div id="coin_home_display" class="col-xs-3 col-sm-2" onclick="coinClicked()"><%= @@coins[session[:tester]] %></div>
  </div>
    <form id="chatform" class="form-horizontal" role="form" action="chat_select" method="post"></form>

  <form id="homeform" class="form-horizontal" role="form" action="home" method="post">
      </form>
       <script type="text/JavaScript">
        //<![CDATA[
        new level_progress("level_home_display","<%=@@progress[session[:tester]]%>");
        function backtohome(){
          var homeform = document.forms["homeform"];
          homeform.submit();
        }
        function gotochat(){
          var homeform = document.forms["chatform"];
          homeform.submit();
        }
           //]]>
        </script>
