<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=TITLE%></title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">

  </head>

   <script type="text/JavaScript">
    //<![CDATA[
    //global variables

    priceOfUnlock = 5;
    function questionObj(option0btnid, option1btnid, formid,toPutTextID){
       this.option0btn = document.getElementById(option0btnid);
       this.option1btn = document.getElementById(option1btnid);
       this.nextform = document.forms[formid];
       this.toPutText = document.getElementById(toPutTextID);
       var obj = this;
       obj.option0btn.onclick = function(){obj.btnClicked(0);}
       obj.option1btn.onclick = function(){obj.btnClicked(1);}
    }
    questionObj.prototype.btnClicked = function(optionNum){
       var obj = this;

       obj.option0btn.disabled = true;
       obj.option1btn.disabled = true;

       var newtxt = document.createElement('span');
       newtxt.style.color = "#33ad89";
       newtxt.style.fontSize="20pt";
       newtxt.style.fontWeight="bold";
       var txt = "太棒了！比的真妙！";
       newtxt.appendChild(document.createTextNode(txt));
       obj.toPutText.appendChild(newtxt);
       if (optionNum == 0){
          obj.option0btn.style.background='#FFA500';
       }else{
          obj.option1btn.style.background='#FFA500';
       }
      
       setTimeout(obj.submitForm,1000);

    }
    questionObj.prototype.submitForm = function(){
       var obj = this;
       obj.nextform.submit();
    }
    //]]>
    </script>


  <style>
      #red_background{
      background: #d9fdd6;
      border-radius: 5px;
      height: 100px;
      margin-top: 7px;
      margin-left: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      font-size: 12pt;
      min-width: 306px;
      max-width: 653px;
      min-height: 440px;
      padding-left: 10px;
    }

    .my-container{
          max-width: 623px;
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: rgba(255,255,255,.0);
          border: 1px dashed rgba(0,0,0,.4);

      }
  </style>
<!-- NAVBAR
================================================== -->
  <body>
    

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

  <!-- <h1>Records</h1> -->
 <div class="row">
    <div id="red_background" class="col-xs-11 col-md-7">

    </br>
    <b><center><font size="12pt" color="#1a754b">比一下</font></center></b>
    <b><font color=#585858 size="5pt">歡迎！</br>覺得小叮噹跟馬英九如何？比一下吧！</font></b>
  </br>

<div class="container my-container">

 <div class="col-xs-12 col-sm-12"><font size="5pt">
  <div id="questionid">Q：誰在菜市場殺價最猛？</div>
</div>


                <form id="nextform" role="form" action="wtguess" method="get">    
                </br></br></br>
                 <div class="col-xs-6 col-md-6">
                  <p><button id="option0btn" class="btn grass_green_button btn-lg btn-block" name="answer" value="<%=session[:option0]%>">小叮噹</button></p>
                 </div>
                 <div class="col-xs-6 col-md-6">
                    <p><button id="option1btn" class="btn grass_green_button btn-lg btn-block" name="answer" value="<%=session[:option1]%>">馬英九</button></p>
                </div>
              <center>
                    </form>
              </br>

        </div>

          <center><div id="toPutText"></div></center>

  </div>


</div><!-- /.my-container -->



<script type="text/JavaScript">
                 //<![CDATA[
                    new questionObj("option0btn", "option1btn", "nextform","toPutText"); 
                 //]]>
      </script>



    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
  </body>
</html>
