<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="js/RadarChart.js"></script>
    <script src="js/WTPentagon.js"></script>
    <link rel="stylesheet" href="/css/tdfriendselector.css" /><!-- Style source: tdfriendselector.scss -->
    <title><%=TITLE%></title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">

  </head>

   <script type="text/JavaScript">
    //<![CDATA[
    //global variables

    priceOfUnlock = 5;
    function questionObj(option0btnid, option1btnid, formid,toPutTextID){
       this.option0btn = document.getElementById(option0btnid);
       this.option1btn = document.getElementById(option1btnid);
       this.nextform = document.forms[formid];
       this.toPutText = document.getElementById(toPutTextID);
       var obj = this;
       obj.option0btn.onclick = function(){obj.btnClicked(0);}
       obj.option1btn.onclick = function(){obj.btnClicked(1);}
    }
    questionObj.prototype.btnClicked = function(optionNum){
       var obj = this;

       obj.option0btn.disabled = true;
       obj.option1btn.disabled = true;

       var newtxt = document.createElement('span');
       newtxt.style.color = "#33ad89";
       newtxt.style.fontSize="20pt";
       var txt = "太棒了！比的真妙！";
       newtxt.appendChild(document.createTextNode(txt));
       obj.toPutText.appendChild(newtxt);
       if (optionNum == 0){
          obj.option0btn.style.background='#FFA500';
       }else{
          obj.option1btn.style.background='#FFA500';
       }
      
       setTimeout(obj.submitForm,1000);

    }
    questionObj.prototype.submitForm = function(){
       var obj = this;
       obj.nextform.submit();
    }
    //]]>
    </script>


  <style>
      #red_background{
      /*background: #FCE2A8;*/
      border-radius: 5px;
      height: 100px;
      margin-top: 7px;
      margin-left: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      font-size: 12pt;
      min-width: 306px;
      max-width: 653px;
      min-height: 440px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .my-container{
          max-width: 623px;
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: rgba(255,255,255,.0);
          border: 1px dashed rgba(0,0,0,.4);
          padding-left: 0px;
          padding-right: 0px;

      }
  </style>
<!-- NAVBAR
================================================== -->
  <body>
    <div id="fb-root"></div>  

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">

  <!-- <h1>Records</h1> -->
 <div class="row">
    <div id="red_background" class="col-xs-11 col-md-7">
    </br>
    <b><center><font color=#585858 size="5pt">最後，</br>你會在遊戲中得到金幣</font></center></b>
  </br>
  <center><img src="/img/coinnew.png" alt="Smiley face" width="45" height="45"></center>
</br>
  <b><center><font color=#585858 size="5pt">金幣可以用來看朋友的<br>形象分析圖！<span id="status"></span></font></center></b>
</br></br></br>
    
    <button id="select-friends-btn" class="btn green_button btn-lg btn-block" onclick="selectFriends()">我們開始吧！</button>

    


    </div><!-- /.container -->


<!-- Markup for These Days Friend Selector -->
    <div id="TDFriendSelector">
      <div class="TDFriendSelector_dialog">
        <div class="TDFriendSelector_form">
          <div class="TDFriendSelector_header">
            <p>選朋友一起來玩！</p>
          </div>
          <div class="TDFriendSelector_content">
            <p>選你想要出現在遊戲裡的5位朋友們:-D 別擔心，這不會送出任何邀請！</p>
            <div class="TDFriendSelector_searchContainer TDFriendSelector_clearfix">
              <div class="TDFriendSelector_selectedCountContainer">已選<span class="TDFriendSelector_selectedCount">0</span>位朋友</div>  
              <input type="text" placeholder="搜尋朋友" id="TDFriendSelector_searchField" />
            </div>
            <div class="TDFriendSelector_friendsContainer"></div>
          </div>
          <div class="TDFriendSelector_footer TDFriendSelector_clearfix">

            <a href="#" id="TDFriendSelector_pagePrev" class="TDFriendSelector_disabled">Previous</a>
            <a href="#" id="TDFriendSelector_pageNext">Next</a>
            <div class="TDFriendSelector_pageNumberContainer">
               <span id="TDFriendSelector_pageNumber">1</span> / <span id="TDFriendSelector_pageNumberTotal">1</span>頁
            </div>
            <a href="#" id="TDFriendSelector_buttonOK">OK</a>
          </div>
        </div>
      </div>
    </div>

  
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
<script src="/js/callbackBarrier.js"></script>
<script src="/js/tdfriendselector.js"></script>
<script>
  

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '610309559054620',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v1.0' // use version 2.0
    });

  }; 
  

  var selector, logActivity, callbackMaxSelection, callbackSubmit;

  // When the user clicks OK, log a message
  callbackSubmit = function(me, selectedFriendNames, FBFriends) {
    logActivity('Clicked OK with the following friends selected: ' + selectedFriendNames.join(", "));
    console.log("submit: " + me);
    $("#status").html("<br><br> 等一下喲！馬上帶你去遊戲！");
    $.ajax({
      type: "POST",
      url: "<%=URL + '/friendNames'%>",
      data: { selectedFriendNames:selectedFriendNames},
      success: function( data ) {
        window.location.href = "/home";
      }
    });
  };
  
  // Initialise the Friend Selector with options that will apply to all instances
  TDFriendSelector.init({debug: true});

  // Create some Friend Selector instances
  selector = TDFriendSelector.newInstance({
    callbackMaxSelection     : callbackMaxSelection,
    callbackSubmit           : callbackSubmit,
    maxSelection             : 5,
    friendsPerPage           : 5,
    autoDeselection          : false
  });

  logActivity = function (message) {
    console.log(message);
    // $("#results").append('<div>' + new Date() + ' - ' + message + '</div>');
  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/zh_TW/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
 
  function selectFriends() {
    $("#select-friends-btn").remove();
    $("#status").html("<br><br> 等一下喲！正在載入中...");
    selector.showFriendSelector();
  }
</script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    
  </body>
</html>
